node_modules
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log

dist
out
build

*.spec.ts
*.test.ts
coverage

.env
.env.local
.env.*.local
.env.test
.env.test.local

Dockerfile
.dockerignore
.git
.gitignore
.vscode
.idea
*.swp
*.swo

.pnpm

*.log
